.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App-header h1 {
  font-size: 2em;
  margin: 0;
}

.App-header nav a {
  color: #333;
}

.App-header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 50px;
}

section {
  margin-bottom: 50px;
}

#about {
  display: flex;
  align-items: center;
}

#about img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 30px;
}

.portfolio-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
}
